body {
    font-family: 'Segoe UI', Tahoma;
    background-color: #e0e0e0;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 8px;
    max-width: 1200px;
    margin: auto;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
img:hover {
    transform: scale(1.05);
}

h2 {    
    font-size: 24px;
    color: #333;
}
a {
    padding-top: 25px;
    padding: 17px 50px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
a:hover {
    background-color: #218838;
}