body{
    font-family: 'Segoe UI', Tahoma;
    background-color: #e0e0e0;
}
header {
    padding: 10px; 
    text-align: left;
}

header a {
    color: black;
    text-decoration: none; 
    font-size: 18px; 
}

header a:hover {
    text-decoration: underline; 
    color: rgb(144, 116, 64) 
}
.grid-container {
    display: grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 10px;
    margin: auto;
    
  } 
    .grid-item {
    padding: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    gap: 5px;
    box-shadow: 0px 0px 1px;
    border-collapse: collapse;
    transition: transform 0.2s;
    border-radius: 10px;
    } 
    .grid-item a{
        text-decoration: none;
        color: black;
        font-size: 22px;
        transition: 0.5s;
    }
    .grid-item:hover{
        text-decoration: underline;
        color:rgb(144, 116, 64);
    }
 .grid-item:hover {
    transform:translateX(5px) translateY(2px);
    }
    img{
      height: 200px;
      width: auto;
    }
  